<ion-header [translucent]="true" class="background">
  <ion-toolbar class="toolbar">
    <ion-title class="bold">Angiospermas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="background">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Angiospermas</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="dv1">
    <h2 class="text2">Características das angiospermas:</h2>
    <h3 class="text">
      <span style="font-weight: bold;">Flores: </span>A principal característica das angiospermas é a presença de flores. As flores são os órgãos reprodutivos da planta, que contêm estruturas especializadas para a reprodução sexual, como estames (órgãos masculinos) e pistilos (órgãos femininos). <br> 
      <span style="font-weight: bold;">Sementes protegidas por frutos: </span>As angiospermas produzem sementes que são protegidas por frutos. O fruto é formado a partir do ovário da flor, e a semente é protegida por um envoltório (como a casca do fruto) que ajuda na dispersão e proteção do embrião. <br> 
      <span style="font-weight: bold;">Fase do ciclo de vida - Angiospermas possuem alternância de gerações: </span>Como todas as plantas, as angiospermas apresentam uma alternância de gerações entre o esporófito (planta adulta) e o gametófito (estrutura reprodutiva que gera gametas). No caso das angiospermas, o gametófito feminino é reduzido e fica dentro do óvulo, enquanto o gametófito masculino é representado pelo grão de pólen. <br>
      <span style="font-weight: bold;">Polinização: </span>A polinização nas angiospermas pode ser realizada por diversos agentes, como insetos (entomofilia), vento (anemofilia), água (hidrofília) ou animais (zoofilia). As flores geralmente têm características adaptadas para atrair polinizadores, como cores vibrantes, fragrâncias e néctar. <br>
      <span style="font-weight: bold;">Sementes com estrutura completa: </span>As sementes das angiospermas contêm um embrião, que será o novo indivíduo, e são ricas em endosperma, um tecido nutritivo que sustenta o embrião durante o desenvolvimento. Além disso, as sementes são envolvidas por um tegumento, que oferece proteção. <br>
      <span style="font-weight: bold;">Vasos condutores - Xilema e Floema: </span>Assim como as gimnospermas, as angiospermas possuem xilema e floema, tecidos responsáveis pelo transporte de água, minerais e nutrientes. No entanto, as angiospermas possuem vasos xilemáticos mais complexos (com traqueídes e elementos de vaso), o que permite maior eficiência no transporte de água. <br>
      <span style="font-weight: bold;">Sistema vascular fechado </span>O sistema vascular das angiospermas é fechado, o que significa que os vasos condutores de água e nutrientes (xilema e floema) são rodeados por tecido parenquimático, o que permite maior flexibilidade e organização no crescimento das plantas. <br>
      <span style="font-weight: bold;">Folhas geralmente largas e com nervuras paralelas ou reticuladas: </span>As angiospermas possuem folhas que podem ser simples ou compostas, com uma variedade de formatos. As folhas podem ter nervuras reticuladas (nas dicotiledôneas) ou paralelas (nas monocotiledôneas). <br>
      <span style="font-weight: bold;">Classificação em Monocotiledôneas e Dicotiledôneas: </span>As angiospermas podem ser divididas em dois grandes grupos: Monocotiledôneas: Possuem uma única folha embrionária (cotilédone), folhas com nervuras paralelas, flores com partes geralmente em múltiplos de 3, e raízes fibrosas (ex.: gramíneas, lírios, palmeiras). Dicotiledôneas: Possuem dois cotilédones, folhas com nervuras reticuladas, flores com partes geralmente em múltiplos de 4 ou 5, e raízes pivotantes (ex.: rosas, feijões, girassóis). <br>
      <span style="font-weight: bold;">Diversidade: </span>As angiospermas são o grupo mais diversificado de plantas, abrangendo uma grande variedade de formas, como árvores, arbustos, herbáceas, gramíneas e até aquáticas. Elas ocupam praticamente todos os ambientes terrestres. <br>
    </h3>
    <div class="centro">
      <h3 class="dv2"><span style="font-weight: bold; text-align: center; color: darkgreen;">Alguns exemplos de pteridófitas:</span></h3>
      <img src="https://i.pinimg.com/736x/9c/73/46/9c73466bfc102eb6b92181c33a93f72a.jpg" alt="Manga">
      <H4 class="dv2">Manga</H4>
      <img src="https://i.pinimg.com/736x/77/8c/77/778c77fc18fa2904c4b91c9101a8e095.jpg" alt="Maçã">
      <h4 class="dv2">Maçã</h4>
      <img src="https://i.pinimg.com/736x/b3/82/ea/b382ea481e4d33196d3a31096623cbdb.jpg" alt="Laranja">
      <h4 class="dv2">Laranja</h4>
    </div>
  </div>

</ion-content>
