<ion-header [translucent]="true" class="background">
  <ion-toolbar class="toolbar">
    <ion-title class="bold">Gimnospermas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="background">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Gimnospermas</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="dv1">
    <h2 class="text2">Características das gmnospermas:</h2>
    <h3 class="text">
      <span style="font-weight: bold;">Sementes: </span>As gimnospermas produzem sementes, mas, ao contrário das angiospermas (plantas com flores), suas sementes não estão envolvidas por frutos. As sementes ficam expostas, ou seja, estão localizadas em estruturas chamadas estróbilos ou cones. <br> 
      <span style="font-weight: bold;">Ciclo de vida com alternância de gerações: </span>Assim como outras plantas, as gimnospermas têm um ciclo de vida com alternância de gerações, incluindo a fase esporofítica (que é dominante e produce as sementes) e a fase gametofítica (que é reduzida e ocorre dentro das estruturas reprodutivas). <br> 
      <span style="font-weight: bold;">Estruturas reprodutivas (cones ou estróbilos): </span>A reprodução das gimnospermas ocorre por cones. Existem cones masculinos (que produzem os grãos de pólen) e cones femininos (que abrigam as sementes). A polinização é, geralmente, feita pelo vento (anemofilia). <br>
      <span style="font-weight: bold;">Folhas: </span>Muitas gimnospermas, como as coníferas, possuem folhas aciculares ou em forma de agulhas. Essas folhas têm adaptações que minimizam a perda de água, como cutículas espessas e estômatos reduzidos, o que é uma vantagem em ambientes secos ou frios. <br>
      <span style="font-weight: bold;">Xilema com traqueídes: </span>O xilema das gimnospermas é composto principalmente por traqueídes, que são células responsáveis pelo transporte de água e nutrientes. Diferentemente das angiospermas, que têm vasos condutores de maior diâmetro, as gimnospermas possuem traqueídes menos eficientes, o que geralmente as torna mais lentas no transporte de água. <br>
      <span style="font-weight: bold;">Raiz, caule e folhas lenhosos: </span>As gimnospermas são, em sua maioria, plantas lenhosas, o que significa que possuem caules e raízes que podem crescer e se tornar duros, como nas árvores e arbustos. <br>
      <span style="font-weight: bold;">Sistemas de vasos vasculares: </span>Como todas as plantas vasculares, as gimnospermas possuem um sistema de vasos condutores (xilema e floema) que transporta água, minerais e nutrientes pela planta. <br>
      <span style="font-weight: bold;">Ausência de flores: </span>As gimnospermas não possuem flores. Ao invés disso, elas formam cones ou estróbilos, que são as estruturas reprodutivas masculinas e femininas. <br>
      <span style="font-weight: bold;">Polinização pelo vento (anemofilia): </span>A polinização das gimnospermas é predominantemente feita pelo vento, que transporta os grãos de pólen do cone masculino para o cone feminino. <br>
      <span style="font-weight: bold;">Plantas predominantes em climas temperados e frios: </span>Muitas gimnospermas, como as coníferas, são adaptadas a ambientes de clima frio e temperado, como florestas boreais. Elas possuem adaptações para resistir a invernos rigorosos, como a forma de suas folhas (agudas e cerosas) e a resistência à desidratação. <br>
    </h3>
    <div class="centro">
      <h3 class="dv2"><span style="font-weight: bold; text-align: center; color: darkgreen;">Alguns exemplos de pteridófitas:</span></h3>
      <img src="https://i.pinimg.com/736x/c3/3f/f2/c33ff2ec5f36997da1b0d5588782ecef.jpg" alt="Pinheiro">
      <H4 class="dv2">Pinheiro</H4>
      <img src="https://i.pinimg.com/736x/07/50/b5/0750b59dff2271ec5f906da13f85de13.jpg" alt="Cicáda">
      <h4 class="dv2">Cicáda</h4>
      <img src="https://i.pinimg.com/736x/07/92/a4/0792a4bddd527aa6bc4e448602911eeb.jpg" alt="Gnetófita">
      <h4 class="dv2">Gnetófita</h4>
    </div>
  </div>

</ion-content>
