<ion-header [translucent]="true" class="background">
  <ion-toolbar class="toolbar">
    <ion-title class="bold">
      Briófitas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Briófitas</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="dv1">
    <h2 class="text2">Características das pteridófitas:</h2>
    <h3 class="text">
      <span style="font-weight: bold;">Ausência de tecidos vasculares: </span>Não possuem xilema e floema, o que limita o transporte de água e nutrientes, restringindo seu tamanho e ambiente de desenvolvimento. <br> 
      <span style="font-weight: bold;">Tamanho reduzido: </span>Devido à falta de tecidos vasculares, as briófitas geralmente são pequenas, o que facilita a troca de gases e a absorção de água diretamente do ambiente. <br> 
      <span style="font-weight: bold;">Dependência da água para a reprodução: </span>A fecundação nas briófitas é realizada por meio de gametas móveis, que necessitam de água para se deslocarem até o gameta oposto (geralmente um óvulo). <br>
      <span style="font-weight: bold;">Estruturas simples: </span>As briófitas não têm raízes verdadeiras, mas sim rizóides, que ajudam na fixação ao substrato. Suas folhas são finas e não possuem tecidos especializados para transporte. <br>
      <span style="font-weight: bold;">Reprodução por esporos: </span>A reprodução é predominantemente assexuada por esporos, que são liberados e germinam em condições favoráveis, originando um novo organismo. <br>
      <span style="font-weight: bold;">Ciclo de vida haplodiplobionte: </span>O ciclo reprodutivo das briófitas alterna entre uma fase gametofítica (haploide) e uma fase esporofítica (diploide), sendo a fase gametofítica dominante e visível. <br>
    </h3>
    <div class="centro">
      <h3 class="dv2"><span style="font-weight: bold; text-align: center; color: darkgreen;">Alguns exemplos de briófitas:</span></h3>
      <img src="https://i.pinimg.com/736x/37/c2/9e/37c29eee57240ad828f7dbcc7e7e4d21.jpg" alt="Hepáticas">
      <H4 class="dv2">Hepáticas</H4>
      <img src="https://i.pinimg.com/736x/53/e8/c8/53e8c8f7d5bea775248d91981b40b49b.jpg" alt="Musgos">
      <h4 class="dv2">Musgos</h4>
      <img src="https://i.pinimg.com/736x/d6/ad/31/d6ad3129fea104a2bd569a6319eaa401.jpg" alt="Antoceros">
      <h4 class="dv2">Antoceros</h4>
    </div>
  </div>
</ion-content>
