<ion-header [translucent]="true" class="background">
  <ion-toolbar class="toolbar">
    <ion-title class="bold">
      Os Grandes Grupos Vegetais
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="background">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Os Grandes Grupos Vegetais</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="dv1">

    <h3 class="text">

      Os grupos vegetais são categorias amplas que classificam as plantas com base em características compartilhadas, como a presença ou ausência de tecidos vasculares, o modo de reprodução e outras particularidades morfológicas. Eles incluem desde as plantas mais simples, sem tecidos especializados para transporte de água e nutrientes, até as mais complexas, que possuem sistemas vasculares e formas variadas de reprodução, como flores e sementes. Esses grupos ajudam a entender a diversidade das plantas e como elas se adaptaram ao longo do tempo a diferentes ambientes. <br>
      Os Grupos vegetais são: <br>

      <ion-card class="background text">
        <img alt="Biófitas" src="https://images.pexels.com/photos/6320094/pexels-photo-6320094.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" />
        <ion-card-header>
          <ion-card-title class="bold text">Briófitas</ion-card-title>
          <ion-card-subtitle class="text">Musgos e Hepáticas</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          As briófitas são plantas pequenas e sem caule, raízes ou folhas verdadeiras. Elas têm uma estrutura simples chamada cauloides (parecida com caules) e filoides (semelhante a folhas), geralmente de cor verde. Elas crescem em tapetes ou colchões densos sobre o solo ou rochas, em ambientes úmidos. Não possuem flores nem sementes, e sua reprodução é feita por esporos.        </ion-card-content>
      </ion-card>

      <ion-card class="background text">
        <img alt="Pteridófitas" src="https://images.pexels.com/photos/18631328/pexels-photo-18631328/free-photo-of-natureza-plantar-planta-folhas.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" />
        <ion-card-header>
          <ion-card-title class="bold text">Pteridófitas</ion-card-title>
          <ion-card-subtitle class="text">Samambaias e Avencas</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          As pteridófitas são plantas de porte médio a grande, com folhas frondosas chamadas frondes, geralmente divididas em segmentos. Elas possuem vasos condutores (xilema e floema) e, por isso, podem atingir tamanhos maiores. Em muitas espécies, você pode ver soros (pequenos pontos de esporos) na parte inferior das frondes. Essas plantas se reproduzem por esporos, e não por sementes.        
        </ion-card-content>
      </ion-card>

      <ion-card class="background text">
        <img alt="Gimnospermas" src="https://images.pexels.com/photos/28939054/pexels-photo-28939054.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" />
        <ion-card-header>
          <ion-card-title class="bold text">Gimnospermas</ion-card-title>
          <ion-card-subtitle class="text">Pinheiros, Ciperestes e Sequias</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          As gimnospermas são plantas lenhosas, geralmente com caule grosso e folhas em forma de agulha ou escamares, adaptadas para ambientes secos. Elas não têm flores, mas produzem sementes expostas em cones (estruturas reprodutivas). As sementeiras ficam expostas nas escamas dos cones, o que as distingue de outras plantas.
        </ion-card-content>    
      </ion-card>

      <ion-card class="background text">
        <img alt="Angiospermas" src="https://images.pexels.com/photos/6231895/pexels-photo-6231895.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" />
        <ion-card-header>
          <ion-card-title class="bold text">Angiospermas</ion-card-title>
          <ion-card-subtitle class="text">Samambaias e Avencas</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          As pteridófitas são plantas de porte médio a grande, com folhas frondosas chamadas frondes, geralmente divididas em segmentos. Elas possuem vasos condutores (xilema e floema) e, por isso, podem atingir tamanhos maiores. Em muitas espécies, você pode ver soros (pequenos pontos de esporos) na parte inferior das frondes. Essas plantas se reproduzem por esporos, e não por sementes.        
        </ion-card-content>
      </ion-card>




    

