<ion-header [translucent]="true" class="background">
  <ion-toolbar class="tollbar">
    <ion-title class="bold">
      Pteridófitas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="background">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Pteridófitas</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="dv1">
    <h2 class="text2">Características das pteridófitas:</h2>
    <h3 class="text">
      <span style="font-weight: bold;">Plantas vasculares: </span>As pteridófitas possuem vasos condutores, como o xilema e o floema, que permitem a condução de água, minerais e nutrientes por toda a planta. <br> 
      <span style="font-weight: bold;">Reprodução sexuada: </span>A reprodução das pteridófitas é sexuada e envolve duas fases: fase esporofítica (a planta adulta, que produz esporos) e fase gametofítica (o gametófito, que é a fase haploide e onde ocorre a fecundação). <br> 
      <span style="font-weight: bold;">Ciclos de vida com alternância de gerações: </span>Apresentam um ciclo de vida que alterna entre a fase diploide (esporofítica) e a fase haploide (gametofítica). A fase esporofítica é dominante, enquanto a gametofítica é reduzida e independente. <br>
      <span style="font-weight: bold;">Presença de folhas (frondes): </span>As pteridófitas possuem folhas bem desenvolvidas, chamadas frondes, que são geralmente grandes e podem ser divididas em várias folíolos. Elas desempenham o papel de fotossíntese e abrigam os esporângios na sua face inferior. <br>
      <span style="font-weight: bold;">Raízes verdadeiras: </span>Ao contrário das plantas angiospermas (que produzem flores e sementes), as pteridófitas não possuem flores nem sementes. Elas se reproduzem por esporos, que germinam para formar o gametófito. <br>
      <span style="font-weight: bold;">Ausência de flores e sementes: </span>Ao contrário das plantas angiospermas (que produzem flores e sementes), as pteridófitas não possuem flores nem sementes. Elas se reproduzem por esporos, que germinam para formar o gametófito. <br>
      <span style="font-weight: bold;">Estruturas reprodutivas: </span>Os esporos são liberados de estruturas especializadas chamadas esporângios. Os esporângios se agrupam em soros, que ficam na parte inferior das frondes. <br>
      <span style="font-weight: bold;">Habitat: </span>As pteridófitas geralmente são encontradas em ambientes úmidos e sombrios, já que a reprodução delas depende da água para a fecundação dos gametas, pois os gametas masculinos (anterozoides) necessitam de um filme de água para se deslocar até os gametas femininos. <br>
      <span style="font-weight: bold;">Diferenciação de tecidos: </span>Possuem tecidos especializados, como xilema (responsável pelo transporte de água e minerais) e floema (responsável pelo transporte de substâncias orgânicas, como açúcares). <br>
      <span style="font-weight: bold;">Crescimento secundário: </span>Algumas pteridófitas, como as cavalinhas, apresentam crescimento secundário, formando um tipo de estrutura lenhosa. <br>
    </h3>
    <div class="centro">
      <h3 class="dv2"><span style="font-weight: bold; text-align: center; color: darkgreen;">Alguns exemplos de pteridófitas:</span></h3>
      <img src="https://i.pinimg.com/736x/84/e7/d1/84e7d17be700ffbbd5c7e4b0ba6d6d50.jpg" alt="Samambaia">
      <H4 class="dv2">Samambaia</H4>
      <img src="https://i.pinimg.com/736x/be/1b/87/be1b87a6cff88bb8ad5a7d22e8c4340f.jpg" alt="Cavalinhas">
      <h4 class="dv2">Cavalinhas</h4>
      <img src="https://files.mtstatic.com/site_4463/48982/0?Expires=1732738590&Signature=bNM9QLG-2oOKnT24FpiVqD4vA2srYT0k8RSqHavylhcbN-UzwTV8O-V38sAuAv7UwWO7ZnRwEVnqxWwi-k~OxslEzoCZqFGOJtT8li5GpJXwKiFCVM3GiQWLZCRUHLbvM~Z8rGlCiRinbr3lBCtwfaZ7DUs6pQYKxMvrYspX1Ok_&Key-Pair-Id=APKAJ5Y6AV4GI7A555NA" alt="Licófitas">
      <h4 class="dv2">Licófitas</h4>
      <img src="https://i.pinimg.com/736x/75/0a/a0/750aa008e44690ee47900ffd6d81831c.jpg" alt="Avencas">
      <h4 class="dv2">Avencas</h4>
    </div>
  </div>

</ion-content>
