.toolbar{
    text-align: center;
    color: darkgreen;
}
.bold{
    font-weight: bold;
}
.background{
    background-color: transparent;
}
.dv1{
    min-height: 100vh;
    min-width: 100vw;
    // border: 1px solid black;
    padding: 20px;
    background-color: lightgray;
}
.text{
    color:darkgreen;
    text-align: justify;
}
.text2{
    color:darkgreen;
    text-align: center;
    font-weight: bold;
}
.dv2{
    text-align: center;
    font-weight: bold;
    color: darkgreen;
    text-align: center;
}
.centro{
    display: flex;
    flex-direction: column;
}